.flaticon-icon {
  &.style-01 {
    background: #474747;
    margin-right: 100px;
    text-align: center;
    padding: 35px 0;
    color: var(--white);
    .icon {
      i,
      span {
        margin: 15px;
      }
    }
  }
  &.style-02 {
    color:#474747;
    .icon {
        margin-bottom: 40px;
      i {
      padding: 0px 25px;
      }
    }
  }
}
