.research-item{
    margin-bottom: 60px;
    display: flex;
    .img-wrap{
        width: 30%;
        margin-right: -90px;
        z-index: 1;
        img{

        }
    }
    .content-part{
        background: #fff;
        padding: 60px 30px 60px 120px;
        width:70%;
        p{
            strong{

            }
        }
        .title{

        }
    }

}