.approach-area {

    background-image: url('../img/approach/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    .animated-img-box{
        margin-bottom: 30px;

        p{
            padding-top: 35px;
        }
    }
}