/*--------------------------------------------------------------
	## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	margin-top: 30px;
}

.comments-area .comments-title {
	font-size: 26px;
	line-height: 34px;
	font-weight: 600;
	margin-bottom: 45px;
}
.comments-area .comment-list .comment-respond {
	margin-bottom: 30px;
}
.comments-area .comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	margin-bottom: 20px;
}

.comments-area .comment-list li {
	margin-bottom: 30px;
}

.comments-area .comment-list li:last-child {
	margin-bottom: 0;
}

.comments-area .comment-list li ul.children {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}
.comments-area .comment-list li ul{
	list-style: none;
	margin-left: 95px;
	padding: 0;
}
.comments-area .comment-list li ul.children li {
	margin-left: 50px;
	list-style-type: none;
	list-style: none;
}

.comments-area .comment-list li .single-comment-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.comments-area .comment-list li .single-comment-wrap .thumb {
	margin-right: 20px;
	max-width: 80px;
}

.comments-area .comment-list li .single-comment-wrap .thumb img {
	border-radius: 50%;
}

.comments-area .comment-list li .single-comment-wrap .date, 
.blog-details-page-content-area .comments-area .comment-list li .single-comment-wrap .time {
	display: block;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 20px;
	margin-left: 35px;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: var(--hover-color);
		left: -35px;
		top: 9px;
	}
}

.comments-area .comment-list li .single-comment-wrap .content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	.top-part {
		background: #F2F2F2;
		padding: 20px 30px;
		margin-bottom: 10px;
		.title {
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
		}
		p {
			font-size: 14px;
			line-height: 26px;
			word-break: break-word;
		}
	}
	.reply {
		display: block;
		transition: all .6s;
		i{
			color: var(--main-color-one);
		}
		&:hover {
			color: var(--main-color-one);
		}
	}
}

.comments-area .comment-list li .single-comment-wrap .content .comment-content {
	max-width: 620px;
}

.comments-area .comment-list li .single-comment-wrap .content p:last-child {
	margin-bottom: 0;
}

.comments-area .comment-list li .single-comment-wrap .content .view-reply {
	display: block;
	font-weight: 500;
	color: #5D5D5D;
	padding-bottom: 20px;
}


.comments-area .reply-title,
.comments-area .comment-reply-title{
	font-size: 26px;
	line-height: 34px;
	font-weight: 600;
	margin-bottom: 20px;
}
.comments-area  .comment-form {
    max-width: 500px;
}
.comments-area .form-submit{
	margin-bottom: 0;
}
.comment-form .form-group.textarea .form-control {
	min-height: 160px;
	resize: none;
	line-height: 26px;
	
}
.comment-form .form-group.textarea .form-control:focus{
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.comment-form .form-group .form-control {
	height: 40px;
	border: none;
	border-radius: 0;
	background: #F2F2F2;
	color: #919191;
	font-size: 15px;
}

.comments-area .comment-list .children li:last-child {
	margin-bottom: 30px;
}

.comments-area .comment-list li ul.children {
	margin-top: 30px;
}
.comment-form-cookies-consent input[type=checkbox] {
	margin-right: 5px;
}