.partner-logo-area{

    
.img-wrap{
    text-align: center;
    margin-bottom: 30px;
    img{
        border: 1px solid #CFCFCF;
        transition: all .6s;
        &:hover{
            background: #CFCFCF;
        }
    }
    
}
}
